body {
    font-family: Arial;
    text-align: center;
}

form {
    width: 300px;
    margin: auto;
}

input, textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

small {
    color: red;
}

#successMessage {
    color: green;
}